// --------- Couleurs ---------
$colorPrimary: #e84743;     // rouge
$colorSecondary: #29888c;   // bleu canard
$colorTertiary: #eea914;    // orange
$colorDark: #69696c;        // gris fonce
$colorLight: #fff;          // blanc
$colorFacebook:  #3b5998;   // facebook
$colorTwitter: #00aced;     // twitter

// --------- Polices ---------

$fontPrimary: 'Overlock';
$fontSecondary: 'Fredoka';
$fontTertiary: 'Cookie';
// Avant on avait , cursive après la police car on allait chercher la police sur Google fonts
